*{font-size: large;
}


.web_app{
    margin:50px;
}

.search_show{
    
    display: grid;
    gap: 10px;
    grid-template-columns: 5cm auto;
}
.utility-cards-container{
    border-radius:10px;
    background-color:#efefef; 
    padding:20px; 
}
.search_bar_area{
    margin-bottom:40px;
    display: flex;
    flex-direction: row;    
}
#search_bar{
    flex:auto;
    border: 2px solid #efefef;
    
}
#search_button{
    margin:0;
    padding:10px;
    flex:initial;
    border:none;
}
.card{
    margin-top:10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding:1rem;
    display: grid;
    grid-template-columns: 1fr 5cm;
}

.card_headings{
    display: grid;
    grid-template-columns: 1fr 5cm;
}

.filters_container{
    position: fixed;
    overflow: auto;
    
}

.utility_filter{
    margin-top:10px;
}