.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search{
  position: absolute;
  top:0px;
  
  width:100%;
  
  background-color: #9ADCFF;
}
.search-content{
  margin:120px 10px 10px 10px;
  
  
}
.search-bar {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.below-search-bar {
  display:flex;
  background-color: #bbe7ff;
  flex-direction: row;
  
  border-radius: 10px;
}
.search-bar-form, .below-search-bar{
  margin:10px; 

}

.select{
  flex-basis:450px;
}
.creatable-select{
  flex-grow: 3;
}


@media screen and (max-width: 960px) {
  .below-search-bar {
    display:flex;
    flex-direction: column;
  }
  .search{
    position: absolute;
    top:0px;
    
    width:100%;
    background-color: #9ADCFF;
  }
}
